<h1 align="CENTER">Welcome to the Levion eBay Sniper tool!</h1>

<br>
<br>

Levion is always working to give our customer's a leg up on the competition, which is why we made this <%= link_to "eBay sniper", "http://en.wikipedia.org/wiki/Auction_sniping" %>. You can use this to add an item on eBay that you would like to bid on, tell us the maximum amount you're willing to pay, and let the us help you win it! This tool will automatically get information about the auction from eBay, and at the last possible millisecond, place a bid on the item for you (as long as it is within the constraints you specify). If you would like to try it out, visit the <%= link_to "Add Auction", new_auction_path, :method => "get" %> page to tell us what eBay item you'd like to win. To view the auctions that you are currently trying to win, along with past auctions, visit the <%= link_to "My Auctions", auctions_path, :method => "get" %> page. All active auctions will update automatically every three minutes. If you would like to update an auction's information sooner, simply click the auction to view its details, which will be updated for you to the current information with each refresh of the page.

<br>
<br>
<br>

This tool is brought to you by <%= link_to "Levion", "http://www.levion.com" %>.